body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: arial;
}

.big-line {
    width: 100%;
    height: 60px; 
    background-color: #370234;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1;
  }

div.RegisterHeader {
    text-align: center;
    margin-bottom: 0px;
}

div.RegisterHeader h1 {
    font-size: 50px;
    color: white;
    padding: 80px;
    margin: 0px;
    text-shadow:  -2px -2px 0 purple, 
    2px -2px 0 purple, 
    -2px 2px 0 purple, 
    2px 2px 0 purple;
    font-family: cursive;
}

div.RegisterBody form {
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
}

div.RegisterInputsContainer label {
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.RegisterInputsContainer input {
    height: 30px;
    width: 100%;             
    border: 2px solid #370234;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.RegisterInputsContainer input {
    height: 30px;
    width: 100%;             
    border: 2px solid #370234;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.RegisterButtonContainer {
    margin-top: 40px;
    text-align: center;
}

div.RegisterButtonContainer button {
    font-size: 20px;
    padding: 10px 40px;
    background: #370234;
    border: none;
    color: white;
    border: 2px solid #370234;
    border-radius: 60px;
}

div.LoginButtonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

div.LoginButtonContainer button {
    font-size: 15px;
    padding: 10px 25px;
    background: white;
    border: none;
    color: #370234;
    border: 2px solid #370234;
    border-radius: 60px;
}

div.LoginButtonContainer input {
    height: 30px;
    width: 80%;
    border: 2px solid #370234;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
    
}